{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <div class="container" style="margin-left: 0px">
        <h2 class="text-center mt-5 mb-3">All Employee Details</h2>
        <div class="card" style="width: 1250px">
            <div class="card-header" style="display: flex">
                <a href="{{ path('app_employee_new') }}" class="btn  btn-outline-info">Add New Employee</a>
                <form id="filterForm" style="margin: auto" >
                    <label>Salary Condition:</label>
                    <select id="operator">
                        <option value="">Select</option>
                        <option value=">">Greater than[ > ]</option>
                        <option value="<">Less than[ < ]</option>
                        <option value="=">Equal to[ = ]</option>
                        <option value=">=">Greater than Equal to[ >= ]</option>
                        <option value="<=">Less than Equal to[ <= ]</option>
                    </select>

                    <input type="number" id="salary" placeholder="Enter salary" />

                    <button type="button" class="btn btn-outline-warning" id="filterBtn">Filter</button>
                    <button type="button" class="btn btn-outline-danger" id="resetFilter">Reset</button>
                </form>

                <input type="text" id="search" placeholder="Search Name...">
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Hobby</th>
                        <th>Gender</th>
                        <th>About</th>
                        <th>Salary</th>
                        <th>Role</th>
                        <th>City</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="employeeTable">
                    {% for employee in employees %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ employee.firstName }}</td>
                            <td>{{ employee.lastName }}</td>
                            <td>{{ employee.age }}</td>
                            <td>
                                <ul>
                                    {% for hobby in employee.hobby %}
                                        <li>{{ hobby }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{{ employee.gender }}</td>
                            <td>{{ employee.about }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>{{ employee.role }}</td>
                            <td>{{ employee.city }}</td>
                            <td>
                                <form method="post" action="{{ path('app_employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this Employee?');">
                                    <a class="btn btn-outline-success" href="{{ path('app_employee_show', {'id': employee.id}) }}">Show</a>
                                    <a class="btn btn-outline-info" href="{{ path('app_employee_edit', {'id': employee.id}) }}">Edit</a>

                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="14">No records found</td>
                        </tr>
                    {% endfor %}
                    <div class="pagination">
                        {{ knp_pagination_render(employees) }}
                    </div>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#filterBtn').click(function () {
                $.post('{{ path("app_employee_filter") }}', {
                    operator: $('#operator').val(),
                    salary: $('#salary').val()
                }, function (response) {
                    let tableBody = $('#employeeTable');
                    tableBody.empty();

                    if (response.employees.length === 0) {
                        tableBody.append('<tr><td colspan="12">No employees found.</td></tr>');
                    } else {
                            $('.pagination').hide();

                        response.employees.forEach((emp, index) => {
                            tableBody.append(`
                        <tr>
                            <td>${index + 1}</td>
                            <td>${emp.first_name}</td>
                            <td>${emp.last_name}</td>
                            <td>${emp.age}</td>
                            <td>${emp.hobby.join(', ')}</td>
                            <td>${emp.gender}</td>
                            <td>${emp.about}</td>
                            <td>${emp.salary}</td>
                            <td>${emp.role}</td>
                            <td>${emp.city}</td>
                            <td>
                                <form method="post" action="/employee/${emp.id}/delete" onsubmit="return confirm('Are you sure you want to delete this Employee?');">
                                    <a class="btn btn-outline-success" href="/employee/${emp.id}/show">Show</a>
                                    <a class="btn btn-outline-info" href="/employee/${emp.id}/edit">Edit</a>
                                    <input type="hidden" name="_token" value="${emp.csrf_token}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    `);
                        });
                    }
                }, 'json');
            });
            $('#resetFilter').click(function () {
                $('#operator').val('');
                $('#salary').val('');

                $.post('{{ path("app_employee_filter") }}', {
                    operator: $('#operator').val(),
                    salary: $('#salary').val()
                }, function (response) {
                    let tableBody = $('#employeeTable');
                    tableBody.empty();

                    if (response.employees.length === 0) {
                        tableBody.append('<tr><td colspan="12">No employees found.</td></tr>');
                    } else {
                            $('.pagination').show();

                        response.employees.forEach((emp, index) => {
                            tableBody.append(`
                        <tr>
                            <td>${index + 1}</td>
                            <td>${emp.first_name}</td>
                            <td>${emp.last_name}</td>
                            <td>${emp.age}</td>
                            <td>${emp.hobby.join(', ')}</td>
                            <td>${emp.gender}</td>
                            <td>${emp.about}</td>
                            <td>${emp.salary}</td>
                            <td>${emp.role}</td>
                            <td>${emp.city}</td>
                            <td>
                                <form method="post" action="/employee/${emp.id}/delete" onsubmit="return confirm('Are you sure you want to delete this Employee?');">
                                    <a class="btn btn-outline-success" href="/employee/${emp.id}/show">Show</a>
                                    <a class="btn btn-outline-info" href="/employee/${emp.id}/edit">Edit</a>
                                    <input type="hidden" name="_token" value="${emp.csrf_token}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    `);
                        });
                    }
                }, 'json');
            });
            $('#search').on('keyup', function () {
                $.post('{{ path("app_employee_search") }}', {
                    search: $('#search').val(),
                }, function (response){
                    let tableBody = $('#employeeTable');
                    tableBody.empty();

                    if (response.employees.length === 0) {
                        tableBody.append('<tr><td colspan="12">No employees found.</td></tr>');
                    } else {
                        $('.pagination').hide();
                        response.employees.forEach((emp, index) => {
                            tableBody.append(`
                        <tr>
                            <td>${index + 1}</td>
                            <td>${emp.first_name}</td>
                            <td>${emp.last_name}</td>
                            <td>${emp.age}</td>
                            <td>${emp.hobby.join(', ')}</td>
                            <td>${emp.gender}</td>
                            <td>${emp.about}</td>
                            <td>${emp.salary}</td>
                            <td>${emp.role}</td>
                            <td>${emp.city}</td>
                            <td>
                                <form method="post" action="/employee/${emp.id}/delete" onsubmit="return confirm('Are you sure?');">
                                    <a class="btn btn-outline-success" href="/employee/${emp.id}/show">Show</a>
                                    <a class="btn btn-outline-info" href="/employee/${emp.id}/edit">Edit</a>
                                    <input type="hidden" name="_token" value="${emp.csrf_token}">
                                    <button class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    `);
                        });
                    }
                }, 'json');
            });


        });
    </script>

{% endblock %}

