{{ form_start(form) }}
    <div class="form-group>">
        {{ form_row(form.first_name, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.last_name, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.age, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.hobby)}}
    </div>
    <div class="form-group>">
        {{ form_row(form.gender, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.about) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.salary, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.role, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.city, {'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group>">
        {{ form_row(form.document, {'attr':{'class':'form-control'}}) }}
    </div>
        <button class="btn {{ button_color|default('btn-outline-primary') }}  mt-3">{{ button_label|default('Save Employee') }}</button>
{{ form_end(form) }}
