{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center mt-5 mb-3">Employee</h1>
    <div class="card">
    <div class="card-header">
        Employee Details
    </div>
    <div class="card-body">
    <table class="table">
        <tbody>

            <tr>
                <th>First Name</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ employee.age }}</td>
            </tr>
            <tr>
                <th>Hobby</th>
                <td>{{ employee.hobby |join(' ,')}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ employee.about | raw}}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ employee.salary }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ employee.role }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ employee.city }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
        <a href="{{ path('app_employee_index') }}">Back to list</a>
    </div>

{% endblock %}
